nav{display:flex;}
.mary{
    font-size: 45px;
    font-weight: 800;
}
.text-primary{color: #FD6E0A;}

nav > ul{display: flex;
align-items: center;}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav{text-decoration: none;
justify-content: space-between;
margin: 0 200PX;}

.btn{color: white;
border-radius: 5px; 
padding: 15px 35px;
border: 0;
font-size: 20px;
font-weight: 700;}

.header{background-color: #FFF8F3;}
.bannar{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;

}
.bannar .image{width: 500px;}
.download{background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px; 
padding: 15px 35px;
border: 0;
}

}

